Config.xcconfig
*.xcodeproj/
.DS_Store
xcuserdata/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
Screenhots/
ROADMAP.md
BUGS.md
CHANGELOG.md
INTERNATIONALIZATION.md
debug/
CLAUDE.md
icons/